@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

:root {
    --primary-color: red;
}

body{
    font-family: 'Castoro', serif;
}

/* container */
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}


